openapi: 3.0.0
info:
  title: Voronka API
  description: API для управления таргетированной рекламой, чатами и агентами в рамках проекта «Воронка».
  version: 1.0.0

servers:
  - url: https://api.voronka.ai/v1
    description: Production server

tags:
  - name: Agents
    description: Управление персоналом и их эффективностью
  - name: RBAC
    description: Роли и права доступа
  - name: Chats
    description: Работа с диалогами и сообщениями
  - name: Webhooks
    description: Прием вебхуков от внешних платформ (Facebook, Instagram, WhatsApp)
  - name: Ads
    description: Таргетированная реклама и аналитика
  - name: Catalog
    description: Универсальный каталог продуктов/услуг

paths:
  # --- AGENTS ---
  /agents/invite:
    post:
      tags: [Agents]
      summary: Пригласить нового агента
      responses:
        201:
          description: Приглашение отправлено
  /agents:
    get:
      tags: [Agents]
      summary: Список всех агентов
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [online, offline, busy]
      responses:
        200:
          description: Список агентов
  /agents/me/status:
    patch:
      tags: [Agents]
      summary: Изменить текущий статус (online/busy/offline)
      responses:
        200:
          description: Статус обновлен
  /agents/workload:
    get:
      tags: [Agents]
      summary: Нагрузка на агентов (количество активных чатов)
      responses:
        200:
          description: Отчет по нагрузке

  # --- RBAC ---
  /roles:
    get:
      tags: [RBAC]
      summary: Получить все роли
    post:
      tags: [RBAC]
      summary: Создать новую роль
  /permissions:
    get:
      tags: [RBAC]
      summary: Список всех доступных прав системы

  # --- CHATS ---
  /dialogs:
    get:
      tags: [Chats]
      summary: Список диалогов с пагинацией
      security:
        - bearerAuth: []
      parameters:
        - name: agent_id
          in: query
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          schema:
            type: string
            enum: [open, pending, closed]
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 50
        - name: cursor
          in: query
          description: Cursor for pagination (last_message_at of last item)
          schema:
            type: string
      responses:
        200:
          description: Paginated list of dialogs with contact and last message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogListResponse'
  /dialogs/{id}:
    get:
      tags: [Chats]
      summary: Получить детали диалога с контактом
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Dialog with contact and channel details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogWithDetails'
        404:
          description: Диалог не найден
    patch:
      tags: [Chats]
      summary: Обновить диалог (назначить агента, сменить статус)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDialogRequest'
      responses:
        200:
          description: Returns the updated dialog object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DialogWithDetails'
        400:
          description: Invalid request
  /dialogs/{id}/messages:
    get:
      tags: [Chats]
      summary: История сообщений (cursor-based pagination, newest first)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            default: 30
            maximum: 100
        - name: cursor
          in: query
          description: Cursor for pagination (created_at,id of last item)
          schema:
            type: string
      responses:
        200:
          description: Paginated list of messages
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageListResponse'
    post:
      tags: [Chats]
      summary: Отправить сообщение от агента
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
      responses:
        202:
          description: Сообщение создано и принято в обработку
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageDTO'
  /dialogs/{id}/read:
    post:
      tags: [Chats]
      summary: Отметить сообщения как прочитанные
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Messages marked as read
  /dialogs/{id}/events:
    get:
      tags: [Chats]
      summary: Получить историю событий диалога (Audit Log)
      description: Возвращает хронологическую последовательность всех изменений диалога.
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: UUID диалога
          schema:
            type: string
            format: uuid
      responses:
        200:
          description: Список событий диалога
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DialogEvent'
        404:
          description: Диалог не найден
  /ws:
    get:
      tags: [Chats]
      summary: WebSocket подключение для real-time событий
      description: |
        Upgrade to WebSocket. Requires Bearer token in Authorization header.

        **Events pushed to client:**
        - `new_message` — new message in agent's dialog
        - `dialog_updated` — dialog status/assignment changed
        - `typing` — typing indicator from another user

        **Events client can send:**
        - `typing` — typing indicator with dialog_id in payload
      security:
        - bearerAuth: []
      responses:
        101:
          description: WebSocket upgrade successful

  # --- WEBHOOKS ---
  /webhooks/facebook:
    get:
      tags: [Webhooks]
      summary: Верификация вебхука Facebook (Meta)
      description: Обрабатывает запрос на подтверждение подписки от Meta платформы
      parameters:
        - name: hub.mode
          in: query
          required: true
          description: Режим подписки (должен быть "subscribe")
          schema:
            type: string
            enum: [subscribe]
        - name: hub.verify_token
          in: query
          required: true
          description: Токен верификации (настраивается через WEBHOOKS_FACEBOOK_VERIFYTOKEN)
          schema:
            type: string
        - name: hub.challenge
          in: query
          required: true
          description: Строка-вызов от Meta для подтверждения
          schema:
            type: string
      responses:
        200:
          description: Верификация успешна, возвращается hub.challenge
          content:
            text/plain:
              schema:
                type: string
                example: "1234567890"
        403:
          description: Верификация не удалась (неверный токен)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "verification failed"
      security: []
    post:
      tags: [Webhooks]
      summary: Прием событий от Facebook
      description: Принимает вебхук-события от Facebook, проверяет HMAC-подпись, отправляет в Redis Stream
      parameters:
        - name: X-Hub-Signature-256
          in: header
          required: true
          description: HMAC-SHA256 подпись тела запроса
          schema:
            type: string
            example: "sha256=abc123..."
      requestBody:
        required: true
        description: Сырой JSON-payload от Facebook (формат зависит от типа события)
        content:
          application/json:
            schema:
              type: object
              description: Raw Facebook webhook payload
              example:
                object: "page"
                entry:
                  - id: "PAGE_ID"
                    time: 1234567890
                    messaging:
                      - sender:
                          id: "USER_ID"
                        recipient:
                          id: "PAGE_ID"
                        timestamp: 1234567890
                        message:
                          text: "Hello"
      responses:
        200:
          description: Вебхук принят и поставлен в очередь обработки
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "received"
        401:
          description: Неверная подпись (X-Hub-Signature-256)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "invalid signature"
        500:
          description: Ошибка при постановке в очередь Redis
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: "failed to process webhook"
      security: []

  /webhooks/instagram:
    get:
      tags: [Webhooks]
      summary: Верификация вебхука Instagram (Meta)
      description: Обрабатывает запрос на подтверждение подписки от Meta платформы
      parameters:
        - name: hub.mode
          in: query
          required: true
          schema:
            type: string
            enum: [subscribe]
        - name: hub.verify_token
          in: query
          required: true
          description: Токен верификации (настраивается через WEBHOOKS_INSTAGRAM_VERIFYTOKEN)
          schema:
            type: string
        - name: hub.challenge
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: Верификация успешна
          content:
            text/plain:
              schema:
                type: string
        403:
          description: Верификация не удалась
      security: []
    post:
      tags: [Webhooks]
      summary: Прием событий от Instagram
      description: Принимает вебхук-события от Instagram, проверяет HMAC-подпись, отправляет в Redis Stream
      parameters:
        - name: X-Hub-Signature-256
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: Вебхук принят
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "received"
        401:
          description: Неверная подпись
        500:
          description: Ошибка обработки
      security: []

  /webhooks/whatsapp:
    get:
      tags: [Webhooks]
      summary: Верификация вебхука WhatsApp (Meta)
      description: Обрабатывает запрос на подтверждение подписки от Meta платформы
      parameters:
        - name: hub.mode
          in: query
          required: true
          schema:
            type: string
            enum: [subscribe]
        - name: hub.verify_token
          in: query
          required: true
          description: Токен верификации (настраивается через WEBHOOKS_WHATSAPP_VERIFYTOKEN)
          schema:
            type: string
        - name: hub.challenge
          in: query
          required: true
          schema:
            type: string
      responses:
        200:
          description: Верификация успешна
          content:
            text/plain:
              schema:
                type: string
        403:
          description: Верификация не удалась
      security: []
    post:
      tags: [Webhooks]
      summary: Прием событий от WhatsApp
      description: Принимает вебхук-события от WhatsApp, проверяет HMAC-подпись, отправляет в Redis Stream
      parameters:
        - name: X-Hub-Signature-256
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        200:
          description: Вебхук принят
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "received"
        401:
          description: Неверная подпись
        500:
          description: Ошибка обработки
      security: []

  # --- ADS ---
  /ads/dashboard:
    get:
      tags: [Ads]
      summary: Сводная аналитика (Spend, Leads, CAC, ROAS)
  /ads/campaigns:
    get:
      tags: [Ads]
      summary: Список рекламных кампаний
    post:
      tags: [Ads]
      summary: Создать новую кампанию (в очередь Redis Ads Tasks)
  /ads/campaigns/{id}/insights:
    get:
      tags: [Ads]
      summary: Детальная видео-статистика и ликвидность
  /ads/liquidity:
    get:
      tags: [Ads]
      summary: Глобальный отчет по "здоровью" рекламных алгоритмов

  # --- CATALOG ---
  /catalog:
    get:
      tags: [Catalog]
      summary: Поиск товаров/услуг
    post:
      tags: [Catalog]
      summary: Добавить новую позицию в каталог (с attributes JSONB)

components:
  schemas:
    DialogEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        event_type:
          type: string
          enum:
            - created
            - message_received
            - assigned
            - transferred
            - status_changed
            - status_updated
            - ai_draft_generated
            - priority_escalated
            - closed
          description: >
            Type of dialog lifecycle event.
            `message_received` is written by the webhook processor each time an inbound message is persisted.
            `status_updated` is written when a delivery/read receipt arrives from the platform (e.g. WhatsApp "sent", "delivered", "read", "failed").
          example: message_received
        actor_id:
          type: string
          format: uuid
          nullable: true
          description: ID агента, совершившего действие. NULL если действие совершено системой или AI.
        payload:
          type: object
          description: Дополнительные данные события (например, старый и новый статус)
          example:
            from_agent: "UUID-1"
            to_agent: "UUID-2"
            reason: "shift_end"
        created_at:
          type: string
          format: date-time

    Message:
      type: object
      properties:
        id:
          type: string
          format: uuid
        dialog_id:
          type: string
          format: uuid
        sender_type:
          type: string
          enum: [customer, agent, ai, system]
        external_id:
          type: string
          description: Platform-assigned message ID (used for deduplication and status receipt matching).
        content:
          type: string
          description: >
            Human-readable summary of the message body. For inbound messages this field stores a
            short placeholder string that indicates the media type rather than the raw text:

            - Text messages: `"[Text]"` — the actual body is in `payload.body`.
            - Image messages: `"[Image]"` (or the caption if one is present).
            - Video messages: `"[Video]"` (or the caption if one is present).
            - Audio messages: `"[Audio]"`.
            - Document messages: `"[Document]"` (or the caption if one is present).
            - Location messages: `"[Location]"`.
            - Unsupported message types: `"[Unsupported: <type>]"` where `<type>` is the
              raw type string returned by the platform.

            Always inspect `payload` for the full, structured message data.
          example: "[Text]"
        payload:
          type: object
          description: >
            Full platform-specific message data. Structure varies by media type:

            - **text**: `{ "body": "Hello, world!" }`
            - **image / video / document**: `{ "id": "<media_id>", "mime_type": "...", "sha256": "...", "caption": "...", "url": "...", "filename": "..." }`
            - **audio**: `{ "id": "<media_id>", "mime_type": "...", "voice": true }`
            - **location**: `{ "latitude": 0.0, "longitude": 0.0, "name": "...", "address": "..." }`
            - **unsupported**: `{ "type": "<raw_type>" }`
        metadata:
          type: object
          description: >
            Platform-specific diagnostic and routing metadata attached to the message.
            May contain any combination of the following fields:
          properties:
            media_type:
              type: string
              description: >
                Normalised media type of the message as classified by the parser.
                Possible values: `text`, `image`, `video`, `audio`, `document`, `location`, `unsupported`.
              example: "text"
            from_logical_id:
              type: string
              description: >
                WhatsApp-specific logical sender identifier (`from_logical_id` field from the
                WhatsApp Cloud API webhook). Present only when the platform supplies it.
              example: "16505551234"
            country_code:
              type: string
              description: >
                ISO country code of the sender, derived from the WhatsApp contact profile
                (`country_code` field). Present only when the platform supplies it.
              example: "US"
            errors:
              type: array
              description: >
                Platform-reported errors associated with the message (e.g. WhatsApp delivery
                failures). Each element mirrors the error object returned by the platform API.
              items:
                type: object
                properties:
                  code:
                    type: integer
                    description: Platform error code.
                    example: 131051
                  title:
                    type: string
                    description: Short human-readable error title.
                    example: "Message type unknown"
                  message:
                    type: string
                    description: Detailed error description.
                    example: "Message type is not currently supported."
                  error_data:
                    type: object
                    nullable: true
                    properties:
                      details:
                        type: string
                        description: Additional context provided by the platform.
        created_at:
          type: string
          format: date-time

    DialogListResponse:
      type: object
      properties:
        dialogs:
          type: array
          items:
            $ref: '#/components/schemas/DialogListItem'
        next_cursor:
          type: string
          description: Cursor for next page (empty if no more pages)
        has_more:
          type: boolean

    DialogListItem:
      type: object
      description: Flattened dialog item for mobile list view
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [active, archived, closed]
          description: "Mapped from internal: open→active, pending→archived, closed→closed"
        client_name:
          type: string
          description: Contact name (from contacts table)
        client_avatar:
          type: string
          nullable: true
        channel:
          type: string
          enum: [telegram, whatsapp, instagram, facebook]
          description: Platform name as string (not nested object)
        last_message:
          type: string
          description: Last message content text (not nested object)
        last_message_at:
          type: string
          format: date-time
        unread_count:
          type: integer
          description: Number of unread messages in this dialog
        is_online:
          type: boolean
          description: Whether the contact is currently online (defaults to false)
        assigned_agent_id:
          type: string
          format: uuid
          nullable: true
        assigned_agent_name:
          type: string
          description: Full name of the assigned agent
        tags:
          type: array
          items:
            type: string
        contact_id:
          type: string
          format: uuid
        channel_id:
          type: string
          format: uuid

    DialogWithDetails:
      type: object
      properties:
        id:
          type: string
          format: uuid
        channel_id:
          type: string
          format: uuid
        contact_id:
          type: string
          format: uuid
        current_agent_id:
          type: string
          format: uuid
          nullable: true
        status:
          type: string
          enum: [open, pending, closed]
        tags:
          type: array
          items:
            type: string
        last_message_at:
          type: string
          format: date-time
        contact:
          $ref: '#/components/schemas/Contact'
        channel:
          $ref: '#/components/schemas/Channel'

    Contact:
      type: object
      properties:
        id:
          type: string
          format: uuid
        external_id:
          type: string
        name:
          type: string
        phone:
          type: string
        email:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time

    Channel:
      type: object
      properties:
        id:
          type: string
          format: uuid
        platform:
          type: string
          enum: [telegram, whatsapp, instagram, facebook]
        is_active:
          type: boolean
        created_at:
          type: string
          format: date-time

    MessageDTO:
      type: object
      description: Message response with sender_name and status for mobile
      properties:
        id:
          type: string
          format: uuid
        dialog_id:
          type: string
          format: uuid
        sender_type:
          type: string
          enum: [client, agent, ai, system]
          description: "Note: 'customer' is mapped to 'client' for mobile"
        sender_name:
          type: string
          description: Resolved sender name (contact name for client, agent name for agent)
        external_id:
          type: string
        content:
          type: string
        status:
          type: string
          enum: [sent, delivered, read]
          description: Message delivery status
        payload:
          type: object
        metadata:
          type: object
        created_at:
          type: string
          format: date-time

    MessageListResponse:
      type: object
      properties:
        messages:
          type: array
          items:
            $ref: '#/components/schemas/MessageDTO'
        next_cursor:
          type: string
          description: Cursor for next page (created_at,id format)
        has_more:
          type: boolean

    SendMessageRequest:
      type: object
      required:
        - content
      properties:
        content:
          type: string
          description: Message text content
        payload:
          type: object
          description: Optional structured payload (media, buttons, etc.)

    UpdateDialogRequest:
      type: object
      properties:
        status:
          type: string
          enum: [open, pending, closed]
          description: New dialog status
        agent_id:
          type: string
          format: uuid
          description: Agent to assign the dialog to

    WSEvent:
      type: object
      properties:
        type:
          type: string
          enum: [new_message, dialog_updated, typing, message_read]
        data:
          type: object
          description: "Event payload (key is 'data', not 'payload')"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
